[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/aswanipranjal/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com:aswanipranjal/aswanipranjal.github.io.git
	branch = master
